.p_container {
    width: 100%;
    height: auto;

    .inner {
        position: relative;

        h1 {
            position: sticky;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 5rem;
            text-transform: uppercase;
            font-family: $en_point_font;
            writing-mode: vertical-rl;
            white-space: nowrap;
        }
    }
}

.parallax_wrap {
    width: 100%;
    padding: 10% 1.875rem;
    position: relative;

    .parallax_img {
        width: 100%;
        text-align: left;
        padding: 0 15%;

        &:nth-child(even) {
            text-align: right;
        }

        img {
            width: 30%;
        }
    }
}

.info {
    padding: 6.25rem 0;
    margin-bottom: 0;
    .inner {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.875rem;
    }
}

.info_text {
    font-family: $ko_point_font;

    h1 {
        font-size: 2.25rem;
        margin-bottom: 1.875rem;
    }
    p {
        font-size: 1.125rem;
        line-height: 1.8rem;
    }
}



.map {
    #googleMap {
        width: 100%;
        height: 26.25rem;
    }

    .inner {
        position: relative;

        .map_text {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1.25rem;
            position: absolute;
            bottom: -5%;
            left: 10%;
            text-align: center;
            padding: 0.8125rem 0.625rem;
            width: 80%;
            margin: auto;
            background-color: $font_color;
            color: $bg_color;
            font-family: $ko_point_font;
            box-shadow: 0 2px 3px #fff;
    
            h1 {
                font-weight: 700;
            }
        }
    }
    
}