@import 'common.scss';
@import 'font.scss';
@import 'reset.scss';
@import 'header.scss';
@import 'login.scss';
@import 'place.scss';

section {
    margin-bottom: 7rem;

    &:last-child {
        padding-bottom: 7rem;
    }

    .inner {
        width: 90%;
        margin: auto;
    }
}

.inner .main_sub_tit {
    font-family: $ko_point_font;
    font-size: 2.25rem;
}

.welcome {
    width: 100%;
    position: relative;
}

.welcome_text {
    width: 95%;
    margin: auto;
    position: absolute;
    bottom: 7%;
    z-index: 8;

    img {
        width: 8.25rem;
    }

    h1 {
        font-size: 4rem;
        line-height: 5rem;
        font-weight: 700;
        padding-top: 2rem;

        span {
            font-family: $en_point_font;
            font-size: 1.8rem;
            text-transform: capitalize;
            position: relative;

            &::after {
                content: '';
                display: block;
                width: 100%;
                height: 0.125rem;
                position: absolute;
                bottom: -18.5%;
                left: 0;
                background-color: $font_color;
                opacity: 0;
                transform: scaleX(0);
                transform-origin: 0% 50%;
                transition: transform 250ms ease-in-out;
            }

            &:hover::after {
                opacity: 1;
                transform: scaleX(1);
            }
        }
    }
}

.main_slide {
    position: absolute;
    width: 100%;

    div {
        img {
            width: 100%;
            height: 43.75rem;
        }
    }
}

.album_list {
    padding-top: 3.125rem;

    span {
        font-size: 1.75rem;
        text-transform: uppercase;
        font-family: $ko_point_font;
        position: relative;

        &::after {
            content: '';
            display: block;
            position: absolute;
            bottom: -15%;
            left: 0;
            width: 100%;
            height: 0.125rem;
            background-color: $font_color;
        }
    }
}

.albums {
    margin-top: 9.375rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.875rem;
    flex-wrap: wrap;

    .album_wrap {
        position: relative;
        display: inline-block;
        height: 100%;
        width: calc(100% / 4 - 3rem);

        &:hover .rot_lp {
            bottom: 45%;
            animation: rotate 3s 0.7s infinite linear;
            filter: drop-shadow(5px 5px 10px #ffffff31);
        }

        .album_thumb {
            width: 100%;
        }

        .rot_lp {
            position: absolute;
            bottom: 3%;
            left: 2.5%;
            z-index: -1;
            transition: 0.5s;
            width: 95%;
        }
    }

}

@keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.post_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 4rem;
    margin-top: 3.125rem;

    .post_wrap {
        width: calc(100% / 4 - 3rem);
        position: relative;

        .post_img {
            overflow: hidden;

            img {
                width: 100%;
                transition: all 0.3s linear;

                &:hover {
                    scale: (1.3);
                }
            }
        }


        .post_text {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1.25rem;
            position: absolute;
            bottom: -5%;
            left: 10%;
            text-align: center;
            padding: 0.8125rem 0.625rem;
            width: 80%;
            margin: auto;
            background-color: $font_color;
            color: $bg_color;
            font-family: $ko_point_font;
            box-shadow: 0 2px 3px #fff;

            h1 {
                font-weight: 700;
            }
        }
    }
}

.monthly_mv {
    width: 100%;

    .mv_slide {
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 3.125rem;

        div {
            height: 19.6875rem;
        }

        iframe {
            width: 100%;
            height: 100%;
            border-radius: 1.875rem;
        }
    }

}

.swiper-button-prev {
    background: white;
    border-radius: 50%;
    top: 47%;
    left: -30px;
    width: 50px;
    height: 50px;
    box-shadow: 0px 2px 11px rgb(0 0 0 / 17%);

    &::after {
        font-size: 1.4rem;
        content: "";
    }

    svg {
        width: 25px;
    }
}

.swiper-button-next {
    background: white;
    border-radius: 50%;
    top: 47%;
    right: -30px;
    width: 50px;
    height: 50px;
    box-shadow: 0px 2px 11px rgb(0 0 0 / 17%);
    border: 2px solid red;
    z-index: 30;

    &::after {
        font-size: 1.4rem;
        content: ">";
    }
}


#topBtn { 
	position: fixed;
	right: 2%; 
	bottom: 5%; 
	display: none;
	z-index: 8;
    cursor: pointer;
    
    &:hover i {
        color: $point_color_bl;
        border: 2px solid $point_color_bl;
        transition: all 0.2s linear;
        background-color: $font_color;
    }

    i {
        color: $font_color;
        border: 2px solid $font_color;
        padding: 0.625rem 0.6875rem;
        font-size: 1.125rem;
        border-radius: 0.5rem;
        
    }
}